<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<startup> 
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
<appSettings>
   <!-- File share settings -->
  <add key="AccountName" value="nkmediasrv" />
  <add key="AccountKey" value="[insert your key here]" />
  <add key="DefaultEndPointProtocol" value="https" />
  <add key="ShareReference" value="linuxshare"/>
  <add key="ShareDirectory" value="Share"/>
  <!-- Raspberry pi settings -->  
  <add key="DirPath" value="/home/pi/pictures" />
  <add key="FileExtension" value="*.jpg" />
  <!-- No Longer user -->
  <add key="ContainerName" value="photos" />
</appSettings>
</configuration>
